.bar {
  color: var(--color-dark-text);
  // height: 80px;
  gap: 1rem;
  background: var(--color-dark);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.link {
  align-content: center;
  color: var(--color-dark-text);
  white-space: nowrap;
  text-decoration: underline;
  &:hover {
    color: var(--color-secondary-hover);
  }
}

.buttons {
  margin-left: 2rem;
  max-width: 500px;
  gap: 1rem;
  display: flex;
}

.text {
  align-content: center;
}
