<app-modal [title]="'account.methods.setPasswordTitle' | translate" (closeModal)="closeModal()">
    <div modal-body>
        <form class="d-flex flex-col flex-wrap gap-3">
            <p class="register-note">{{ 'account.methods.setPasswordLead' | translate }}</p>

            <app-password
                [label]="'account.reset.newPassword' | translate"
                [description]="'account.register.passwordHint' | translate: { count: passwordMin }"
                [(value)]="form().password"
                [required]="true"
                autocomplete="new-password"
            ></app-password>

            <app-password
                [label]="'account.register.passwordAgain' | translate"
                [(value)]="form().passwordAgain"
                [required]="true"
                autocomplete="new-password"
            ></app-password>

            @if (refusal(); as refusal) {
                <p class="register-problem">
                    @if (refusalIsKey()) {
                        {{ refusal | translate }}
                    } @else {
                        {{ refusal }}
                    }
                </p>
            }
        </form>
    </div>

    <div modal-footer class="d-flex gap-3 justify-content-end">
        <app-button [text]="'common.cancel' | translate" variant="secondary" (buttonClick)="cancel()"></app-button>
        <app-button [text]="'account.reset.saveAction' | translate" variant="primary" (buttonClick)="save()"></app-button>
    </div>
</app-modal>

<app-loader [loading]="loading()"></app-loader>
