<div class="modal-backdrop" [class.show]="isShown()" [ngClass]="options().backdropClass" (click)="onBackdropClick($event)"></div>
<div class="modal" [class.show]="isShown()" [class.fade]="options().animation !== false" tabindex="-1" role="dialog" [attr.aria-hidden]="!isShown()">
    <div
        class="modal-dialog"
        [style.maxWidth]="options().maxWidth"
        [class.modal-dialog-centered]="options().centered ?? true"
        [class.w-100]="options().fullWidth"
        [class.w-auto]="!options().fullWidth"
        [class.modal-dialog-scrollable]="options().scrollable"
        [ngClass]="getModalSizeClass()"
        #modalDialog>
        <ng-container #contentContainer></ng-container>
    </div>
</div>
