<app-modal [title]="'login.title' | translate" (closeModal)="closeModal()">
    <div modal-body>
        <form class="feedback-form d-flex flex-col flex-wrap gap-3">
            <app-text [label]="'login.email' | translate" [placeholder]="'login.emailPlaceholder' | translate" [(value)]="form().email" [required]="true"> </app-text>
            <app-password [label]="'login.password' | translate" [placeholder]="'login.passwordPlaceholder' | translate" [(value)]="form().password" [required]="true"> </app-password>
        </form>
    </div>
    <div modal-footer class="d-flex gap-3 justify-content-end">
        <app-button [text]="'common.cancel' | translate" variant="secondary" (buttonClick)="cancel()"> </app-button>
        <app-button [text]="'common.login' | translate" variant="primary" (buttonClick)="submit()"> </app-button>
    </div>
</app-modal>

<app-loader [loading]="loading()" [text]="'login.loggingIn' | translate"> </app-loader>
