.nav-tabs {
  // border: 1px solid var(--border-color);
  display: flex;
  flex-direction: row;
  text-align: center;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.page-container {
  border-radius: 0 0 var(--border-radius-large) var(--border-radius-large);
}

.nav-tabs-item {
  color: var(--bg-table-header-text);
  background: var(--bg-table-header);
  padding: 15px;

  &:hover {
    cursor: pointer;
    background: var(--bg-hover);
  }
}

.active {
  color: var(--text-primary);
  font-weight: 600;
  border-bottom: 2px solid var(--color-primary);
}
