@if (!hidden()) {
    <div class="filters-section" [class]="class()">
        <div class="filters-content" [class.expanded]="filterExpanded()">
            <div class="p-0">
                <div class="filter-grid" [class.px-0]="!insideContainer()" [class.pt-0]="!insideContainer()">
                    <ng-content></ng-content>
                </div>
                <div class="filters-header" [class.px-0]="!insideContainer()">
                    <div class="filter-actions">
                        <app-button text="Skryť filter" variant="secondary" size="small" (buttonClick)="toggleFilter()"></app-button>
                        <app-button text="Vyčistiť filter" variant="secondary" size="small" (buttonClick)="reset()"></app-button>
                        <app-button text="Filtrovať" variant="primary" size="small" (buttonClick)="filterClick()"></app-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
