@use "../shared/item-tile" as *;

img {
  height: fit-content;
}

.name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.wish-card-container,
.wish-card-container-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.wish-card-container-wrapper:not(:last-child) {
  border-bottom: 2px solid var(--border-color);
  padding-bottom: var(--spacing-sm);
}

.card-container {
  width: 80px;
  font-size: var(--font-size-base);
  margin-block-start: auto;
  margin-block-end: auto;

  .item-card {
    img,
    .name {
      width: 80px;
    }
  }
}

@media only screen and (max-width: 992px) {
  #version-duration {
    margin-left: auto;
    margin-right: auto;
  }
  #banner-image {
    width: unset !important;
    min-width: unset !important;
    height: unset !important;
  }
}
