@use "../shared/item-tile" as *;

img {
  height: fit-content;
}

.name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.wish-card-container,
.wish-card-container-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.wish-card-container-wrapper:not(:last-child) {
  border-bottom: 2px solid var(--border-color);
  padding-bottom: var(--spacing-sm);
}

.card-container {
  width: 60px;
  font-size: var(--font-size-base);
  margin-block-start: auto;
  margin-block-end: auto;

  .item-card {
    img,
    .name {
      width: 60px;
    }
  }
}
