@if (!hidden()) {
    <div class="form-field" [class]="class()">
        @if (label()) {
            <label #labelElement [for]="inputId" class="form-label" [class.required]="required()">
                @if (tooltipText()) {
                    <i #tooltipElement class="fa-solid fa-circle-info" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()"></i>
                }
                {{ label() }}
                @if (required()) {
                    <span class="required-indicator">*</span>
                }
            </label>
        }

        <div class="multiselect">
            <input
                #inputElement
                scroll
                [id]="inputId"
                [value]="displayValue()"
                [placeholder]="placeholder() ?? ''"
                [disabled]="disabled()"
                class="form-control cursor-default"
                [class.placeholder]="selectedOptions().length === 0"
                [class.error]="hasError()"
                [class.valid]="validators().length && (!isNullOrEmpty() || isTouched()) && !hasError()"
                (keydown)="onKeyDown($event)"
                (click)="togglePopup()"
                (blur)="onBlur()"
                (focus)="onFocus()"
                readonly
            />
            <span class="multiselect-arrow" [class.down]="!isPopupOpen" [class.up]="isPopupOpen"></span>
            @if (selectedOptions().length > 0) {
                <span class="selection-count">{{ selectedOptions().length }}</span>
            }
        </div>

        @if (displayError() && hasError()) {
            <div class="error-message" [id]="inputId + '-error'" role="alert" aria-live="polite">
                {{ errorMessage() }}
            </div>
        }
    </div>
}
