::ng-deep {
  .autocomplete-popup {
    max-height: 302px !important;
  }

  .autocomplete-option {
    display: flex;
    align-items: center;
    padding: 5px !important;
    position: relative;
    overflow: hidden;
    height: 100px;
  }

  .autocomplete-option.highlighted {
    background-color: rgba(0, 0, 0, 0.1) !important;
    color: black !important;
  }

  .autocomplete-option img {
    width: 100px;
    max-height: 250px;
    object-fit: cover;
    object-position: top;
  }

  .autocomplete-itoptionem span {
    margin-left: var(--spacing-sm);
    font-size: var(--font-size-lg);
  }

  .try-img {
    max-height: 100px;
  }

  .answer-img {
    max-height: 42rem;
  }

  canvas {
    max-width: 100%;
  }
}
