<div class="sub-list">
    @for (co of constellations(); track $index; let i = $index) {
        <div class="sub-card">
            <div class="sub-card-header">
                <span class="sub-card-index">C{{ co.level }} · {{ co.name || 'Unnamed' }}</span>
                <app-button icon="fa-solid fa-xmark" variant="danger" [outline]="true" size="very-small" (buttonClick)="removeConstellation(i)"></app-button>
            </div>
            <div class="form-grid">
                <app-number [label]="'Level'" [(value)]="co.level" [min]="1" [max]="6"></app-number>
                <app-text [label]="'Name'" [(value)]="co.name" [required]="true"></app-text>
                <div class="form-field col-span-2">
                    <app-file [label]="'Icon'" [buttonOutline]="true" (inputChange)="onConstellationIconSelect(i, $event)" [required]="true"></app-file>
                    @if (coIconPreview(i); as src) {
                        <img #img [src]="src" class="preview-img" alt="" />
                        <app-tooltip [targetHTMLElement]="img" [standalone]="true">
                            <img class="w-100" [src]="src" />
                        </app-tooltip>
                    }
                </div>
                <app-textarea [label]="'Description'" [(value)]="co.description" [rows]="3" [class]="'col-span-2'"></app-textarea>
            </div>
        </div>
    }
    <app-button text="+ Add Constellation" variant="secondary" [outline]="true" size="small" (buttonClick)="addConstellation()"></app-button>
</div>
