<div class="bottom-container">
    @for (menuItemSignal of menuItems | keyvalue: preserveOrder; track menuItemSignal.value().id) {
        @let menuItem = menuItemSignal.value();
        <div class="item" (click)="onMenuItemClick(menuItem)" [class.hidden]="menuItem.hidden">
            @if (isSafeUrl(menuItem.url)) {
                <a [href]="menuItem.url" target="_blank" rel="noopener noreferrer">
                    <ng-container *ngTemplateOutlet="menuContent; context: { $implicit: menuItem }" />
                </a>
            } @else {
                <ng-container *ngTemplateOutlet="menuContent; context: { $implicit: menuItem }" />
            }
        </div>
    }
</div>

<ng-template #menuContent let-item>
    @if (item.icon) {
        <span class="icon {{ item.icon }}"></span>
    } @else {
        <div>{{ item.titleLiteral || (item.title | translate) }}</div>
    }
</ng-template>
