<div
    #mainElement
    class="dropdown-popup"
    [style.top.px]="top()"
    [style.left.px]="left()"
    [style.min-width.px]="minWidth()"
    [style.width.px]="width()"
    [style.max-width.px]="maxWidth()"
    (clickOutside)="clickOutside()"
>
    <div class="dropdown-options">
        @if (emptyOption) {
            <div class="dropdown-option placeholder" [class.highlighted]="highlightedIndex === -1" (click)="selectOption()" (mouseenter)="mouseEnter(highlightedIndex - 1)">
                {{ component?.placeholder() }}
            </div>
        }

        @for (option of options; track option; let i = $index) {
            <div class="dropdown-option" [class.highlighted]="i === highlightedIndex" (click)="selectOption(option)" (mouseenter)="mouseEnter(i, option)">
                @if (!optionTemplate) {
                    <span>{{ option.value }}</span>
                }
                @if (optionTemplate) {
                    <ng-container *ngTemplateOutlet="optionTemplate; context: { $implicit: option, item: option, index: i }"></ng-container>
                }
            </div>
        }
    </div>
</div>
