<div class="container d-flex flex-wrap justify-content-center gap-5 text-align-center">
    @for (item of GAMES; track item.id) {
        <a class="card px-5 pb-5" [routerLink]="item.path">
            <app-guide-icon class="help-icon" [guide]="item.id"></app-guide-icon>

            <img [src]="item.image" [alt]="item.title | translate" loading="lazy" />

            <div class="card-body">
                <h3 class="card-title">{{ item.title | translate }}</h3>
                <p class="card-text">{{ item.info | translate }}</p>
            </div>
        </a>
    }
</div>
