.tooltip-text {
  // visibility: hidden;
  position: fixed;
  z-index: 10000;
  padding: var(--spacing-xs) var(--spacing-sm);
  background-color: var(--bg-tooltip);
  color: var(--text-tooltip);
  text-align: center;
  border-radius: var(--border-radius);
  font-size: var(--font-size-sm);
  font-weight: normal;
  white-space: nowrap;
  // opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  // height: fit-content;
  top: 0;
  left: 0;
  max-width: 500px;

  // Top position (default)
  &.tooltip-top {
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: var(--bg-tooltip) transparent transparent transparent;
    }
  }

  // Bottom position
  &.tooltip-bottom {
    &::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent var(--bg-tooltip) transparent;
    }
  }

  // Left position
  &.tooltip-left {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent var(--bg-tooltip);
    }
  }

  // Right position
  &.tooltip-right {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent var(--bg-tooltip) transparent transparent;
    }
  }
}
