<div class="container w-100">
    <app-loader #loader [loading]="loading()"></app-loader>

    @if (!loader.loadingCtrl.loading()) {
        <app-quiz-frame
            [difficulty]="difficultyString()"
            [isDaily]="isDaily()"
            [isQuestionComplete]="isQuestionComplete()"
            [tries]="displayTries()"
            [triesCount]="tries().length"
            [triesMax]="triesMax()"
            [options]="searchOptions()"
            [answer]="questionEntity()"
            (guess)="guess($event)"
            (next)="next()"
        >
            <app-quiz-audio-player [src]="trackUrl()" [limit]="limit()"></app-quiz-audio-player>

            @if (isQuestionComplete() && questionEntity(); as character) {
                <p class="track-name">{{ character.demo_music }}</p>
            }
        </app-quiz-frame>
    }
</div>
