<div id="constellations">
    <div class="constellations-info">
        @for (constellation of constellations(); track constellation.id) {
            <div class="p-3">
                <div class="constellation-header">
                    <img
                        class="constellation-icon"
                        [appMaterialIcon]="constellation.icon_name ?? constellation.name"
                        [appAssetFolder]="'character.constellations'"
                        [alt]="constellation.name"
                        loading="lazy"
                    />
                    <h3 class="constellation-name">{{ constellation.name }}</h3>
                    <span class="constellation-level">{{ 'database.detail.level' | translate }} {{ constellation.level }}</span>
                </div>
                <div class="constellation-description">{{ constellation.description }}</div>
            </div>
        } @empty {
            <div class="p-3 text-muted">-</div>
        }
    </div>
</div>
